<div id="menu-top"></div>
<div id="menu-title"
     class="jumbotron bg-white text-center">
  <h2>Expériences Professionnelles</h2>
  <hr class="mt-5"/>
</div>
<ul class="timeline">
  <li>
    <div class="timeline-badge"><span class="fas fa-briefcase"></span></div>
    <div class="timeline-panel-container">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3>Novelios</h3>
          <h4>Concepteur Développeur Junior</h4>
          <p class="text-muted"><small class="fas fa-clock"></small> oct 2018 - déc 2018</p>
        </div>
        <div class="timeline-body">
          <p>Stage de validation de formation Concepteur Développeur :</p>
            <br/>
          <p>environnement: MacOSX, Git, Sublime Text, Sequel pro</p>
            <br/>
          <p>- projet Smart Ambu  (<a href="http://www.smartambu.com">smartambu</a>)</p>
          <p>>  front : AngularJS</p>
          <p>>  back : Node.js/Express.js, Socket.io</p>
          <p>>  base de données : MongoDB</p>
            <br/>
          <p>- projet Maldeeve  (<a href="http://www.maldeeve.com">maldeeve</a>)</p>
          <p>>  front : AngularJS</p>
          <p>>  back : Grails</p>
          <p>>  base de données : MySQL</p>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge"><span class="fas fa-briefcase"></span></div>
    <div class="timeline-panel-container-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3>OUEST BEDDING</h3>
          <h4>Technicien de maintenance industrielle</h4>
          <p class="text-muted"><small class="fas fa-clock"></small> 2010-2018</p>
        </div>
        <div class="timeline-body">
          <p>Maintenance du parc machine</p>
          <p>Amélioration de machine et de poste</p>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge"><span class="fas fa-briefcase"></span></div>
    <div class="timeline-panel-container">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3>OUEST BEDDING</h3>
          <h4>Technicien de maintenance industrielle</h4>
          <p class="text-muted"><small class="fas fa-clock"></small> 2008-2010</p>
        </div>
        <div class="timeline-body">
          <p>Maintenance curative et préventive en intervention chez les clients</p>
          <p>Amélioration de machine et de poste</p>
        </div>
      </div>
    </div>
  </li>
</ul>
<footer class="fixed-bottom d-flex justify-content-center" style="height: 60px; background-color: #dddddd">
  <div class="align-self-center">
    <p class="text-center text-dark m-0"> Made with <i class="fab fa-angular"></i> by MySelf</p>
  </div>
</footer>
