<!--<app-header [@enter]="'out'" *ngIf="!isEnter" (enter)="onEnter()"></app-header>-->
<div *ngIf="isEnter">
  <nav id="navigation" class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="navbarToggler" >
      <h4 class="my-auto float-left"><a href="https://www.linkedin.com/in/thomas-godard-concepteurdev">Thomas Godard</a></h4>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
        <li class="nav-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            *ngFor="let menu of menus">
          <a class="nav-link"
             routerLink="{{ menu.link }}"
             (click)="setSelectedMenu(menu)">
            {{ menu.title }}
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!--<div id="menu-top"></div>-->
  <!--<div id="menu-title"-->
       <!--class="jumbotron text-center">-->
    <!--<h2>{{ selectedMenu }}</h2>-->
    <!--<hr class="mt-5"/>-->
  <!--</div>-->

  <div class="container">
        <router-outlet></router-outlet>
  </div>
</div>
