<div id="menu-top"></div>
<div id="menu-title"
     class="jumbotron bg-white text-center">
  <h2>Formations</h2>
  <hr class="mt-5"/>
</div>
<ul class="timeline">
  <li>
    <div class="timeline-badge"><span class="fas fa-university"></span></div>
    <div class="timeline-panel-container">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3>ENI Rennes</h3>
          <h4>Concepteur Développeur Informatique (Bac +4)</h4>
          <p class="text-muted"><small class="fas fa-clock"></small> fev 2018 - déc 2018</p>
        </div>
        <div class="timeline-body">
          <ul>
            <li>- Langage de requête SQL avec SQL Server</li>
            <li>- Procédures stockées avec PL-SQL</li>
            <li>- Programmation Orientée Objet avec Java</li>
            <li>- Développement en couches et la persistance des données avec Java SE</li>
            <li>- Développement web côté serveur avec Java EE</li>
            <li>- Projet 1 - Développement d'une application structurée en couches</li>
            <li>- Analyse et conception d'une application</li>
            <li>- Développement web côté serveur avec PHP et Symfony</li>
            <li>- L'administration d'un serveur Apache sous Linux</li>
            <li>- Projet 2 - Développement d'une application web JavaEE</li>
            <li>- Frameworks Spring pour le développement avec Java EE</li>
            <li>- Conduite et gestion de projets</li>
            <li>- Développement web côté serveur - BackEnd avec ASP.Net MVC</li>
            <li>- Développement d'une application mobile avec Android</li>
            <li>- Projet 3 - Développement d'une application android</li>
            <li>- Le développement cross plateforme (Xamarin)</li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge"><span class="fas fa-university"></span></div>
    <div class="timeline-panel-container-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3>CNAM Bretagne</h3>
          <h4>NFP 135&136</h4>
          <p class="text-muted"><small class="fas fa-clock"></small> 2010-2018</p>
        </div>
        <div class="timeline-body">
          <h5>Objectif</h5>
          <p>Cette UE présente, de façon condensée, les concepts de base de la discipline informatique enseignés dans plusieurs UE de premier cycle : principes des systèmes d'exploitation, structures de données et algorithmique.
            Le cours est illustré par des applications et des travaux pratiques.</p>
          <p>Ce cours offre une "mise à niveau" en informatique permettant ensuite aux étudiants de suivre les autres cours enseignés dans les filières informatiques.</p>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge"><span class="fas fa-university"></span></div>
    <div class="timeline-panel-container">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3>Lycée Blaise Pascal</h3>
          <h4>BTS Maintenance Industrielle (Bac+2)</h4>
          <p class="text-muted"><small class="fas fa-clock"></small> 2008-2010</p>
        </div>
        <div class="timeline-body">
          <p>Les étudiants reçoivent une formation polyvalente. En plus des enseignements généraux (culture générale et expression; langue vivante; mathématiques; sciences physiques), la formation comporte des enseignements professionnels industriels :</p>
          <ul>
            <li>- Analyse fonctionnelle et structurelle</li>
            <li>- Automatique</li>
            <li>- Génie électrique</li>
            <li>- Stratégie de maintenance</li>
            <li>- Activités pratiques</li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
