<div id="menu-top"></div>
<div id="menu-title"
     class="jumbotron bg-white text-center">
  <h2>A Propos</h2>
  <hr class="mt-5"/>
</div>
<div class="text-center">
  <img src="../../assets/profil.jpg" class="rounded-circle mb-3 mt-0" style="height: 300px; width: 300px">
  <div class="row mb-3">
    <div class="col-12">
      <a href="#" class="mr-2 ml-2"><i class="fab fa-linkedin fa-3x"></i></a>
      <a href="#" class="mr-2 ml-2"><i class="fab fa-viadeo-square fa-3x"></i></a>
      <a href="#" class="mr-2 ml-2"><i class="fab fa-github-square fa-3x"></i></a>
    </div>
  </div>
  <h1>Hello, Moi c'est Thomas !</h1>
  <h3 class="mb-4">Développeur Full-stack</h3>
  <a href="../../assets/CV_DEV_thomas_godard.pdf" class="btn btn-outline-info" role="button">Télécharger CV</a>
</div>
